{% extends 'base.html.twig' %}

{% block title %}Hello StationController!
    {% include '/form/index.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .body {background-color: green;}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .h1 {text-align: center; color: green;}
</style>
<div class="container-fluid">

</div>